<%- include ('partials/_header'); %>


<form action="/fme/submit" method="POST">

  <label for="us1">Usuario:</label>
  <input type="text" id="us1" name="us1" placeholder="Usuario" value="<%= par && par.us1 %>">

  <label for="or1">Organización:</label>
  <input type="text" id="or1" name="or1" placeholder="Organización" value="<%= ope && ope.or1 %>">
  
  <label for="cu1">Cliente:</label>
  <input type="text" id="cu1" name="cu1" placeholder="Cliente" value="<%= ope && ope.cu1 %>">

    <label for="pa1">Num interno:</label>
    <input type="text" id="pa1" name="pa1" placeholder="Num interno" value="<%= ope && ope.pa1 %>">

    <label for="op1">Número de operación:</label>
    <input type="text" id="op1" name="op1" placeholder="Número de operación" value="<%=oper && ope.op1 %>">

    <label for="fm1">Fecha inicio</label>
    <input type="text" id="fm1" name="fm1" placeholder="Fecha inicio">
    
    <label for="fm2">Fecha rev.</label>
    <input type="text" id="fm2" name="fm2" placeholder="Fecha rev.">
    
    <label for="fm3">Fecha key:</label>
    <input type="text" id="fm3" name="fm3" placeholder="Fecha key">
    
    <label for="fm4">#amef</label>
    <input type="text" id="fm4" name="fm4" placeholder="#amef">
    
    <label for="fm5">propósito:</label>
    <input type="text" id="fm5" name="fm5" placeholder="propósito">
    
    <label for="fm6">Modo de falla potencial</label>
    <input type="number" id="fm6" name="fm6" placeholder="Modo de falla potencial">
    
    <label for="fm7">Efecto del modo de falla</label>
    <input type="text" id="fm7" name="fm7" placeholder="Efecto del modo de falla">

    <label for="fm8">sev:</label>
    <input type="text" id="fm8" name="fm8" placeholder="sev">

    <label for="fm9">Causas de la falla:</label>
    <input type="text" id="fm9" name="op9" placeholder="Causas de la falla">

    <label for="fm10">Controles de prevencion</label>
    <input type="text" id="fm10" name="fm10" placeholder="Controles de prevencion">

    <label for="fm11">ocur</label>
    <input type="text" id="fm11" name="fm11" placeholder="ocur">

    <label for="fm12">Controles de detección</label>
    <input type="text" id="fm12" name="fm12" placeholder="Controles de detección">

    <label for="fm13">det</label>
    <input type="text" id="fm13" name="fm13" placeholder="det">
  
    <button class=btn type="submit">Enviar</button>
  </form>

<%- include ('partials/_footer'); %>