<%- include ('partials/_header'); %>
<!-- <div>
    <a href="/flowchart" class="btn">Generar Diagrama de Flujo</a>
</div>
<div>
    <a href="/pcp" class="btn">Generar Plan de control de proceso</a>
</div>
<div>
    <a href="/fmea" class="btn">Generar FMEA</a>
</div> -->
<div class="col-md-7">
    <div>
        
    </div>
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Número de PCP:</th>
            <th>Producto:</th>
            <!-- <th>password</th>
            <th>puesto</th>
            <th>área</th>
            <th>telefono</th>
            <th>correo</th> -->
        </tr>
    </thead>
  
    <tbody>
        <% for(var i = 0; i < pcps.length; i++) { %>
      </div>
      <td><%= pcps[i].pc1 %></td>
      <td><%= pcps[i].pc10 %></td>
  
      <!-- <td><%= pcps[i].op3 %></td>
        <td><%= pcps[i].op4 %></td>
        <td><%= pcps[i].op5 %></td>
        <td><%= pcps[i].op6 %></td>
        <td><%= pcps[i].op7 %></td> -->
      
        <td class="plus">
                  
                    <a href="/pcp/edit/<%= pcps[i]._id %>" class="edit-btn">Editar</a>

                    <!-- <a href="/chr/<%= pcps[i]._id %>" class="edit-btn">Registrar Caracteristica</a> -->
                    
                    <% if (pcps[i] && pcps[i].op1) { %>
                    <div>
                        <a href="/pcp/<%= pcps[i].cu1 %>" class="edit-btn">PCP</a>
                    </div>
                    <% } %>
                  
                </td>
            </tr>
        <% } %>   
        </tbody>
    </table>
  </div>

  <%- include ('partials/_footer'); %>