<%- include ('partials/_header'); %>

<!-- FORM -->
<div class="container">
    <div class="row">
        <h2 class="text-center">Visualizar</h2>

        <div style="display: inline-block;">
           

        <div class=container>
            <div class="container">
                <div class="container">
                    <h3><%= procs && procs.pg2 %> <%= procs && procs.pg1 %></h3>
                    <p><%= procs && procs.pg12 %></p>
                    <p><%= procs && procs.pg15 %></p>

                        
                        
                        

                        
                        <a href="/pro" class="btn">Cancel</a>
                        <button type="submit" class="btn">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ('partials/_footer'); %>