<STYLE>
    A {text-decoration:none}
    A IMG {border-style:none; border-width:0;}
    DIV {position:absolute; z-index:25;}
   .fc1-0 { COLOR:000000;FONT-SIZE:13PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-1 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-2 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:NORMAL;}
   .fc1-3 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-4 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-5 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:NORMAL;}
   .fc1-6 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-7 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-8 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:BOLD;}
   .fc1-9 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:NORMAL;TEXT-DECORATION:UNDERLINE;}
   .fc1-10 { COLOR:000000;FONT-SIZE:4PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-11 { COLOR:000000;FONT-SIZE:5PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-12 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-13 { COLOR:000000;FONT-SIZE:4PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-2 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   .ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-4 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-5 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-6 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   .ad1-7 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   </STYLE>
   
   <TITLE>Crystal Report Viewer</TITLE>
   <BODY BGCOLOR="FFFFFF"LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>
   
   <div style="left:125PX;top:238PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:199PX;">
   </div>
   <div style="left:704PX;top:238PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:471PX;top:238PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:196PX;">
   </div>
   <div style="left:704PX;top:211PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:470PX;top:211PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:173PX;">
   </div>
   <div style="left:148PX;top:211PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:197PX;">
   </div>
   <div style="left:704PX;top:185PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:190PX;top:185PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:477PX;">
   </div>
   <div style="left:704PX;top:158PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:474PX;top:158PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:194PX;">
   </div>
   <div style="left:576PX;top:126PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:185PX;">
   </div>
   <div style="left:100PX;top:126PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:376PX;">
   </div>
   <div style="left:43PX;top:295PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:357PX;">
   </div>
   <div style="left:43PX;top:335PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:356PX;">
   </div>
   <div style="left:43PX;top:373PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:356PX;">
   </div>
   <div style="left:527PX;top:325PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:234PX;">
   </div>
   <div style="left:502PX;top:349PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:259PX;">
   </div>
   <div style="left:472PX;top:373PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:290PX;">
   </div>
   <div style="left:199PX;top:767PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:367PX;">
   </div>
   <div style="left:564PX;top:991PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:14PX;">
   <table width="0px" height="8PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:680PX;top:878PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:81PX;">
   </div>
   <div style="left:435PX;top:936PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:29PX;">
   <table width="0px" height="23PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:35PX;top:910PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:734PX;">
   </div>
   <div style="left:461PX;top:984PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:198PX;">
   </div>
   <div style="left:701PX;top:984PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:60PX;">
   </div>
   <div style="left:124PX;top:984PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:233PX;">
   </div>
   <div style="left:182PX;top:853PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:579PX;">
   </div>
   <div style="left:106PX;top:878PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:205PX;">
   </div>
   <div style="left:359PX;top:878PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:139PX;">
   </div>
   <div style="left:558PX;top:878PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:81PX;">
   </div>
   <div style="left:174PX;top:902PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:487PX;">
   </div>
   <div style="left:699PX;top:902PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:62PX;">
   </div>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:34PX;top:102PX;width:734PX;height:889PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=727px height=882px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:55PX;top:641PX;width:0PX;height:0PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=-7px height=-7px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV style="z-index:15;left:38PX;top:75PX;width:191PX;height:19PX;">
   <!-- <img  SRC="psw3ia000000g.jpg"> -->
   </DIV>
   <DIV style="left:237PX;top:74PX;width:523PX;height:23PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">Part Submission Warrant</span></DIV>
   
   <DIV style="left:238PX;top:148PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:183PX;top:148PX;width:7PX;height:8PX;" class="ad1-2">
   <table width="2PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:579PX;top:113PX;width:181PX;height:14PX;"><span class="fc1-2"><%= pars.pa1 %></span></DIV>
   
   <DIV style="left:100PX;top:113PX;width:373PX;height:14PX;"><span class="fc1-2"><%= pars.pa4 %></span></DIV>
   
   <DIV style="left:479PX;top:145PX;width:184PX;height:14PX;"><span class="fc1-2"><%= pars.pa10 %></span></DIV>
   
   <DIV style="left:152PX;top:198PX;width:197PX;height:14PX;"><span class="fc1-2"><%= pars.pa5 %></span></DIV>
   
   <DIV style="left:704PX;top:198PX;width:56PX;height:14PX;"><span class="fc1-2">0,0130</span></DIV>
   
   <DIV style="left:703PX;top:225PX;width:57PX;height:14PX;"><span class="fc1-2">&nbsp;&nbsp;/&nbsp;&nbsp;/</span></DIV>
   
   <DIV style="left:44PX;top:115PX;width:56PX;height:12PX;"><span class="fc1-3">Part Name </span></DIV>
   
   <DIV style="left:44PX;top:173PX;width:143PX;height:12PX;"><span class="fc1-3">Additional Engineering Changes</span></DIV>
   
   <DIV style="left:45PX;top:201PX;width:105PX;height:12PX;"><span class="fc1-3">Shown on Drawing No. </span></DIV>
   
   <DIV style="left:44PX;top:227PX;width:81PX;height:12PX;"><span class="fc1-3">Checking Aid No. </span></DIV>
   
   <DIV style="left:357PX;top:201PX;width:109PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Purchase Order No, </span></DIV>
   
   <DIV style="left:329PX;top:227PX;width:137PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Engineering Change Level </span></DIV>
   
   <DIV style="left:663PX;top:227PX;width:36PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Dated</span></DIV>
   
   <DIV style="left:648PX;top:200PX;width:52PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-4">Weight (kg)</span></DIV>
   
   <DIV style="left:668PX;top:174PX;width:32PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Dated</span></DIV>
   
   <DIV style="left:668PX;top:147PX;width:33PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Dated</span></DIV>
   
   <DIV style="left:292PX;top:147PX;width:178PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Engineering Drawing Change Level</span></DIV>
   
   <DIV style="left:253PX;top:147PX;width:26PX;height:12PX;"><span class="fc1-3">No</span></DIV>
   
   <DIV style="left:196PX;top:147PX;width:24PX;height:12PX;"><span class="fc1-3">Yes</span></DIV>
   
   <DIV style="left:44PX;top:150PX;width:128PX;height:11PX;"><span class="fc1-3">Government Regulation</span></DIV>
   
   <DIV style="left:44PX;top:137PX;width:123PX;height:12PX;"><span class="fc1-3">Safety and/or</span></DIV>
   
   <DIV style="left:503PX;top:115PX;width:61PX;height:12PX;"><span class="fc1-3">Part Number</span></DIV>
   
   <DIV style="left:664PX;top:290PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:520PX;top:290PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:416PX;top:290PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:246PX;top:359PX;width:7PX;height:13PX;"><span class="fc1-5">/</span></DIV>
   
   <DIV style="left:330PX;top:361PX;width:7PX;height:13PX;"><span class="fc1-5">/</span></DIV>
   
   <DIV style="left:475PX;top:359PX;width:285PX;height:14PX;"><span class="fc1-2"><%= pars.pa8 %></span></DIV>
   
   <DIV style="left:44PX;top:261PX;width:284PX;height:14PX;"><span class="fc1-6">SUPPLIER MANUFACTURING INFORMATION</span></DIV>
   
   <DIV style="left:44PX;top:298PX;width:112PX;height:12PX;"><span class="fc1-3">Supplier Name</span></DIV>
   
   <DIV style="left:285PX;top:298PX;width:118PX;height:12PX;"><span class="fc1-3">Supplier Code</span></DIV>
   
   <DIV style="left:413PX;top:260PX;width:241PX;height:14PX;"><span class="fc1-6">SUBMISSION INFORMATION</span></DIV>
   
   <DIV style="left:432PX;top:289PX;width:68PX;height:12PX;"><span class="fc1-3">Dimensional</span></DIV>
   
   <DIV style="left:536PX;top:289PX;width:100PX;height:12PX;"><span class="fc1-3">Materials/Functional</span></DIV>
   
   <DIV style="left:680PX;top:289PX;width:68PX;height:12PX;"><span class="fc1-3">Appearance</span></DIV>
   
   <DIV style="left:413PX;top:315PX;width:113PX;height:12PX;"><span class="fc1-3">Customer Name/Division </span></DIV>
   
   <DIV style="left:413PX;top:339PX;width:88PX;height:12PX;"><span class="fc1-3">Buyer/Buyer Code</span></DIV>
   
   <DIV style="left:44PX;top:339PX;width:84PX;height:12PX;"><span class="fc1-3">Street Address</span></DIV>
   
   <DIV style="left:44PX;top:376PX;width:128PX;height:12PX;"><span class="fc1-3">City/State/Postal Code</span></DIV>
   
   <DIV style="left:413PX;top:363PX;width:56PX;height:12PX;"><span class="fc1-3">Application </span></DIV>
   
   <DIV style="left:44PX;top:282PX;width:253PX;height:14PX;"><span class="fc1-2"><%= pars.or2 %></span></DIV>
   
   <DIV style="left:44PX;top:321PX;width:351PX;height:14PX;"><span class="fc1-2"><%= pars.or3 %></span></DIV>
   
   <DIV style="left:44PX;top:359PX;width:200PX;height:14PX;"><span class="fc1-2"><%= pars.or4 %></span></DIV>
   
   <DIV style="left:254PX;top:359PX;width:75PX;height:14PX;"><span class="fc1-2"><%= pars.or5 %></span></DIV>
   
   <DIV style="left:338PX;top:359PX;width:62PX;height:14PX;"><span class="fc1-2"><%= pars.or7 %></span></DIV>
   
   <DIV style="left:531PX;top:311PX;width:229PX;height:14PX;"><span class="fc1-2"><%= pars.cu3 %></span></DIV>
   
   <DIV style="left:509PX;top:395PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-7"> </td></table>
   </DIV>
   
   <DIV style="left:615PX;top:395PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-7">X</td></table>
   </DIV>
   
   <DIV style="left:509PX;top:414PX;width:10PX;height:9PX;" class="ad1-2">
   <table width="5PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-7"> </td></table>
   </DIV>
   
   <DIV style="left:616PX;top:414PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-7">X</td></table>
   </DIV>
   
   <DIV style="left:44PX;top:396PX;width:31PX;height:13PX;"><span class="fc1-3">Note:</span></DIV>
   
   <DIV style="left:97PX;top:396PX;width:323PX;height:13PX;"><span class="fc1-3">Does this part contain any restricted or reportable substances</span></DIV>
   
   <DIV style="left:96PX;top:415PX;width:320PX;height:13PX;"><span class="fc1-3">Are plastic parts identified with appropriate ISO marking codes</span></DIV>
   
   <DIV style="left:524PX;top:396PX;width:24PX;height:12PX;"><span class="fc1-3">Yes</span></DIV>
   
   <DIV style="left:525PX;top:415PX;width:24PX;height:12PX;"><span class="fc1-3">Yes</span></DIV>
   
   <DIV style="left:632PX;top:396PX;width:24PX;height:12PX;"><span class="fc1-3">No</span></DIV>
   
   <DIV style="left:632PX;top:415PX;width:24PX;height:12PX;"><span class="fc1-3">No</span></DIV>
   
   <DIV style="left:44PX;top:460PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:479PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:498PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:44PX;top:516PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:451PX;top:460PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:452PX;top:535PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:451PX;top:479PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:451PX;top:498PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:451PX;top:517PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:535PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:438PX;width:200PX;height:14PX;"><span class="fc1-6">REASON FOR SUBMISSION</span></DIV>
   
   <DIV style="left:61PX;top:460PX;width:96PX;height:12PX;"><span class="fc1-3">Initial Submission</span></DIV>
   
   <DIV style="left:61PX;top:478PX;width:242PX;height:12PX;"><span class="fc1-3">Engineering Change(s)</span></DIV>
   
   <DIV style="left:61PX;top:497PX;width:328PX;height:12PX;"><span class="fc1-3">Tooling: Transfer, Replacement, Refurbishment, or additional</span></DIV>
   
   <DIV style="left:61PX;top:516PX;width:160PX;height:13PX;"><span class="fc1-3">Correction of Discrepancy</span></DIV>
   
   <DIV style="left:61PX;top:534PX;width:160PX;height:13PX;"><span class="fc1-3">Tooling Inactive > than 1 year</span></DIV>
   
   <DIV style="left:467PX;top:460PX;width:264PX;height:12PX;"><span class="fc1-3">Change to Optional Construction or Material</span></DIV>
   
   <DIV style="left:467PX;top:478PX;width:264PX;height:12PX;"><span class="fc1-3">Sub-Supplier or Material Source Change</span></DIV>
   
   <DIV style="left:467PX;top:497PX;width:264PX;height:12PX;"><span class="fc1-3">Change in Part Processing</span></DIV>
   
   <DIV style="left:467PX;top:516PX;width:264PX;height:12PX;"><span class="fc1-3">Parts Produced at Additional Location</span></DIV>
   
   <DIV style="left:467PX;top:534PX;width:105PX;height:12PX;"><span class="fc1-3">Other - please specify:</span></DIV>
   
   <DIV style="left:44PX;top:674PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:653PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:632PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:44PX;top:612PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:592PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:568PX;width:296PX;height:14PX;"><span class="fc1-6">REQUESTED SUBMISSION LEVEL (Check One)</span></DIV>
   
   <DIV style="left:61PX;top:591PX;width:44PX;height:12PX;"><span class="fc1-3">Level 1 - </span></DIV>
   
   <DIV style="left:103PX;top:591PX;width:620PX;height:12PX;"><span class="fc1-3">Warrant only (and for designated appearance items, an Appearance Approval Report) submitted to customer</span></DIV>
   
   <DIV style="left:61PX;top:611PX;width:44PX;height:12PX;"><span class="fc1-3">Level 2 - </span></DIV>
   
   <DIV style="left:103PX;top:611PX;width:651PX;height:13PX;"><span class="fc1-3">Warrant with product samples and limited supporting data submitted to customer.</span></DIV>
   
   <DIV style="left:61PX;top:631PX;width:44PX;height:12PX;"><span class="fc1-3">Level 3 -</span></DIV>
   
   <DIV style="left:103PX;top:631PX;width:660PX;height:13PX;"><span class="fc1-3">Warrant with product samples and complete supporting data submitted to customer.</span></DIV>
   
   <DIV style="left:61PX;top:652PX;width:42PX;height:12PX;"><span class="fc1-3">Level 4 - </span></DIV>
   
   <DIV style="left:103PX;top:652PX;width:280PX;height:12PX;"><span class="fc1-3">Warrant and other requirements as defined by customer.</span></DIV>
   
   <DIV style="left:61PX;top:673PX;width:44PX;height:12PX;"><span class="fc1-3">Level 5 - </span></DIV>
   
   <DIV style="left:103PX;top:673PX;width:660PX;height:13PX;"><span class="fc1-3">Warrant with product samples and complete supporting data reviewed at supplier's manufacturing location.</span></DIV>
   
   <DIV style="left:147PX;top:720PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:299PX;top:720PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:459PX;top:720PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:364PX;top:737PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1">X</td></table>
   </DIV>
   
   <DIV style="left:419PX;top:737PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:595PX;top:720PX;width:7PX;height:8PX;" class="ad1-2">
   <table width="2PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"> </td></table>
   </DIV>
   
   <DIV style="left:201PX;top:752PX;width:559PX;height:14PX;"><span class="fc1-2">001001 2 cavities</span></DIV>
   
   <DIV style="left:44PX;top:755PX;width:156PX;height:12PX;"><span class="fc1-3">Mold / Cavity / Production Process:</span></DIV>
   
   <DIV style="left:472PX;top:737PX;width:210PX;height:12PX;"><span class="fc1-3">(if "NO" - Explanation Required)</span></DIV>
   
   <DIV style="left:432PX;top:737PX;width:27PX;height:12PX;"><span class="fc1-3">NO</span></DIV>
   
   <DIV style="left:379PX;top:737PX;width:23PX;height:12PX;"><span class="fc1-3">Yes</span></DIV>
   
   <DIV style="left:44PX;top:737PX;width:277PX;height:12PX;"><span class="fc1-3">These results meet all drawing and specification requirements:</span></DIV>
   
   <DIV style="left:609PX;top:720PX;width:130PX;height:12PX;"><span class="fc1-3">statistical process package </span></DIV>
   
   <DIV style="left:472PX;top:720PX;width:107PX;height:12PX;"><span class="fc1-3">Appearance criteria and</span></DIV>
   
   <DIV style="left:313PX;top:720PX;width:141PX;height:12PX;"><span class="fc1-3">material and functional tests</span></DIV>
   
   <DIV style="left:161PX;top:720PX;width:142PX;height:12PX;"><span class="fc1-3">dimensional measurements</span></DIV>
   
   <DIV style="left:44PX;top:720PX;width:77PX;height:12PX;"><span class="fc1-3">The results for</span></DIV>
   
   <DIV style="left:44PX;top:700PX;width:208PX;height:14PX;"><span class="fc1-6">SUBMISSION RESULTS</span></DIV>
   
   <DIV style="left:44PX;top:841PX;width:137PX;height:12PX;"><span class="fc1-3">EXPLANATION/COMMENTS:</span></DIV>
   
   <DIV style="left:44PX;top:891PX;width:131PX;height:12PX;"><span class="fc1-3">Supplier authorized Signature</span></DIV>
   
   <DIV style="left:668PX;top:891PX;width:24PX;height:12PX;"><span class="fc1-3">Date</span></DIV>
   
   <DIV style="left:668PX;top:972PX;width:27PX;height:12PX;"><span class="fc1-3">Date</span></DIV>
   
   <DIV style="left:44PX;top:867PX;width:56PX;height:12PX;"><span class="fc1-3">Print Name</span></DIV>
   
   <DIV style="left:331PX;top:867PX;width:24PX;height:12PX;"><span class="fc1-3">Title</span></DIV>
   
   <DIV style="left:497PX;top:867PX;width:58PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">Phone No.</span></DIV>
   
   <DIV style="left:640PX;top:867PX;width:37PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-4">Fax No.</span></DIV>
   
   <DIV style="left:203PX;top:936PX;width:56PX;height:12PX;"><span class="fc1-3">Approved</span></DIV>
   
   <DIV style="left:293PX;top:936PX;width:49PX;height:12PX;"><span class="fc1-3">Rejected</span></DIV>
   
   <DIV style="left:492PX;top:936PX;width:139PX;height:12PX;"><span class="fc1-3">Part Functional Approval:</span></DIV>
   
   <DIV style="left:663PX;top:936PX;width:56PX;height:12PX;"><span class="fc1-3">Approved</span></DIV>
   
   <DIV style="left:188PX;top:936PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:279PX;top:936PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:645PX;top:936PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-8"> </td></table>
   </DIV>
   
   <DIV style="left:203PX;top:955PX;width:34PX;height:12PX;"><span class="fc1-3">Other</span></DIV>
   
   <DIV style="left:663PX;top:955PX;width:56PX;height:12PX;"><span class="fc1-3">Waived</span></DIV>
   
   <DIV style="left:189PX;top:955PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-1"> </td></table>
   </DIV>
   
   <DIV style="left:644PX;top:955PX;width:10PX;height:9PX;" class="ad1-2">
   <table width="5PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-8"> </td></table>
   </DIV>
   
   <DIV style="left:36PX;top:916PX;width:729PX;height:14PX;TEXT-ALIGN:CENTER;"><span class="fc1-6">FOR CUSTOMER USE ONLY (IF APPLICABLE)</span></DIV>
   
   <DIV style="left:44PX;top:934PX;width:128PX;height:12PX;"><span class="fc1-3">Part Warrant Disposition:</span></DIV>
   
   <DIV style="left:365PX;top:972PX;width:94PX;height:12PX;"><span class="fc1-3">Customer Signature</span></DIV>
   
   <DIV style="left:44PX;top:972PX;width:82PX;height:12PX;"><span class="fc1-3">Customer Name</span></DIV>
   
   <DIV style="left:44PX;top:818PX;width:721PX;height:16PX;"><span class="fc1-4">produced at the production rate of&nbsp;&nbsp;<span class="fc1-9">1920</span>/ 8 hours. I have noted any deviations from this declaration below:</span></DIV>
   
   <DIV style="left:44PX;top:774PX;width:120PX;height:14PX;"><span class="fc1-6">DECLARATION</span></DIV>
   
   <DIV style="left:44PX;top:792PX;width:731PX;height:12PX;"><span class="fc1-3">I hereby affirm that the samples represented by this warrant are representative of our parts, have been made to the applicable</span></DIV>
   
   <DIV style="left:44PX;top:806PX;width:722PX;height:12PX;"><span class="fc1-3">Production Part Approval Process Manual 3rd Edition requirements. I further warrant these samples were</span></DIV>
   
   <DIV style="left:35PX;top:992PX;width:26PX;height:21PX;">
   <table width="21PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-10">July</td></table>
   
   <table width="21PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-10">1999</td></table>
   </DIV>
   
   <DIV style="left:257PX;top:992PX;width:295PX;height:21PX;">
   <table width="290PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-11">The original copy of this document shall remain at the suppliers loaction </td></tr>
   <tr><td class="fc1-11">while the part is active (see Glossary)</td></tr></table>
   </DIV>
   
   <DIV style="left:81PX;top:992PX;width:136PX;height:17PX;"><span class="fc1-12">CFG-1001</span></DIV>
   
   <DIV style="left:565PX;top:992PX;width:204PX;height:14PX;"><span class="fc1-13">Optional: Customer Tracking number: #&nbsp;&nbsp;&nbsp;</span></DIV>
   <BR>
   </BODY></HTML>
   