<STYLE>
    A {text-decoration:none}
    A IMG {border-style:none; border-width:0;}
    DIV {position:absolute; z-index:25;}
   .fc1-0 { COLOR:000000;FONT-SIZE:11PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-1 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-2 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-3 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:NORMAL;}
   .fc1-4 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-5 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-6 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;TEXT-DECORATION:UNDERLINE;}
   .fc1-7 { COLOR:000000;FONT-SIZE:4PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-8 { COLOR:000000;FONT-SIZE:9PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-2 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   .ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-4 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-5 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   .ad1-6 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   </STYLE>
   
   <TITLE>Part Submission Warrant</TITLE>
   <BODY BGCOLOR="FFFFFF"LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>
   
   <div style="left:130PX;top:242PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:136PX;">
   </div>
   <div style="left:704PX;top:242PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:480PX;top:242PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:164PX;">
   </div>
   <div style="left:704PX;top:219PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:57PX;">
   </div>
   <div style="left:511PX;top:219PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:115PX;">
   </div>
   <div style="left:159PX;top:150PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:268PX;">
   </div>
   <div style="left:584PX;top:196PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:142PX;">
   </div>
   <div style="left:183PX;top:197PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:355PX;">
   </div>
   <div style="left:584PX;top:172PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:142PX;">
   </div>
   <div style="left:584PX;top:150PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:177PX;">
   </div>
   <div style="left:584PX;top:126PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:177PX;">
   </div>
   <div style="left:100PX;top:126PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:327PX;">
   </div>
   <div style="left:180PX;top:171PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:357PX;">
   </div>
   <div style="left:43PX;top:288PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:357PX;">
   </div>
   <div style="left:44PX;top:322PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:356PX;">
   </div>
   <div style="left:44PX;top:356PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:356PX;">
   </div>
   <div style="left:414PX;top:288PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:347PX;">
   </div>
   <div style="left:416PX;top:322PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:345PX;">
   </div>
   <div style="left:415PX;top:356PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:346PX;">
   </div>
   <div style="left:378PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:383PX;">
   </div>
   <div style="left:378PX;top:436PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:383PX;">
   </div>
   <div style="left:469PX;top:581PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:292PX;">
   </div>
   <div style="left:216PX;top:760PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:351PX;">
   </div>
   <div style="left:175PX;top:848PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:586PX;">
   </div>
   <div style="left:175PX;top:833PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:586PX;">
   </div>
   <div style="left:218PX;top:889PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:385PX;">
   </div>
   <div style="left:639PX;top:889PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:122PX;">
   </div>
   <div style="left:108PX;top:911PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:276PX;">
   </div>
   <div style="left:450PX;top:911PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:150PX;">
   </div>
   <div style="left:639PX;top:911PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:122PX;">
   </div>
   <div style="left:81PX;top:933PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:264PX;">
   </div>
   <div style="left:392PX;top:933PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:369PX;">
   </div>
   <div style="left:118PX;top:1022PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:311PX;">
   </div>
   <div style="left:639PX;top:1001PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:122PX;">
   </div>
   <div style="left:147PX;top:1001PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:451PX;">
   </div>
   <div style="left:35PX;top:941PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:734PX;">
   </div>
   <div style="left:440PX;top:979PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:321PX;">
   </div>
   <div style="left:625PX;top:1023PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:136PX;">
   </div>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:34PX;top:102PX;width:734PX;height:928PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=727px height=921px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:55PX;top:656PX;width:0PX;height:0PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=-7px height=-7px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV style="left:230PX;top:75PX;width:530PX;height:21PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">Part Submission Warrant</span></DIV>
   
   <DIV style="z-index:15;left:38PX;top:75PX;width:191PX;height:19PX;">
   <!-- <img  SRC="psw4ia000000g.jpg"> -->
   </DIV>
   <DIV style="left:662PX;top:229PX;width:38PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Dated</span></DIV>
   
   <DIV style="left:44PX;top:231PX;width:83PX;height:12PX;"><span class="fc1-1">Checking Aid No</span></DIV>
   
   <DIV style="left:274PX;top:230PX;width:204PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Checking Aid Engineering Change Level</span></DIV>
   
   <DIV style="left:640PX;top:206PX;width:60PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Weight(kg)</span></DIV>
   
   <DIV style="left:44PX;top:137PX;width:110PX;height:12PX;"><span class="fc1-1">Shown on Drawing No. </span></DIV>
   
   <DIV style="left:397PX;top:206PX;width:107PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Purchase Order No. </span></DIV>
   
   <DIV style="left:303PX;top:209PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2">1</td></table>
   </DIV>
   
   <DIV style="left:319PX;top:206PX;width:26PX;height:12PX;"><span class="fc1-1">No</span></DIV>
   
   <DIV style="left:258PX;top:206PX;width:24PX;height:12PX;"><span class="fc1-1">Yes</span></DIV>
   
   <DIV style="left:245PX;top:209PX;width:7PX;height:8PX;" class="ad1-2">
   <table width="2PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"> </td></table>
   </DIV>
   
   <DIV style="left:44PX;top:206PX;width:199PX;height:11PX;"><span class="fc1-1">Safety and/or Government Regulation</span></DIV>
   
   <DIV style="left:44PX;top:113PX;width:57PX;height:12PX;"><span class="fc1-1">Part Name </span></DIV>
   
   <DIV style="left:456PX;top:113PX;width:122PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Cust. Part Number</span></DIV>
   
   <DIV style="left:44PX;top:184PX;width:139PX;height:12PX;"><span class="fc1-1">Additional Engineering Change</span></DIV>
   
   <DIV style="left:546PX;top:182PX;width:32PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Dated</span></DIV>
   
   <DIV style="left:44PX;top:160PX;width:137PX;height:13PX;"><span class="fc1-1">Engineering Change Level</span></DIV>
   
   <DIV style="left:547PX;top:158PX;width:33PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Dated</span></DIV>
   
   <DIV style="left:588PX;top:113PX;width:172PX;height:14PX;"><span class="fc1-3"><%= pars.pa6 %></span></DIV>
   
   <DIV style="left:103PX;top:113PX;width:332PX;height:14PX;"><span class="fc1-3"><%= pars.pa4 %></span></DIV>
   
   <DIV style="left:187PX;top:158PX;width:148PX;height:14PX;"><span class="fc1-3"><%= pars.pa2 %></span></DIV>
   
   <DIV style="left:588PX;top:158PX;width:114PX;height:14PX;"><span class="fc1-3"><%= pars.pa11 %></span></DIV>
   
   <DIV style="left:161PX;top:137PX;width:180PX;height:14PX;"><span class="fc1-3"><%= pars.pa5 %></span></DIV>
   
   <DIV style="left:512PX;top:206PX;width:108PX;height:14PX;"><span class="fc1-3"><%= pars.pa47 %></span></DIV>
   
   <DIV style="left:704PX;top:206PX;width:56PX;height:14PX;"><span class="fc1-3"><%= pars.pa13 %></span></DIV>
   
   <DIV style="left:703PX;top:229PX;width:41PX;height:14PX;"><span class="fc1-3">&nbsp;&nbsp;/&nbsp;&nbsp;/</span></DIV>
   
   <DIV style="left:439PX;top:137PX;width:141PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Org. Part Number</span></DIV>
   
   <DIV style="left:588PX;top:139PX;width:172PX;height:12PX;"><span class="fc1-1"><%= pars.pa1 %></span></DIV>
   
   <DIV style="left:44PX;top:360PX;width:33PX;height:12PX;"><span class="fc1-4">City</span></DIV>
   
   <DIV style="left:417PX;top:360PX;width:47PX;height:12PX;"><span class="fc1-4">Application</span></DIV>
   
   <DIV style="left:44PX;top:324PX;width:84PX;height:12PX;"><span class="fc1-4">Street Address</span></DIV>
   
   <DIV style="left:417PX;top:324PX;width:149PX;height:12PX;"><span class="fc1-4">Buyer/Buyer Code</span></DIV>
   
   <DIV style="left:417PX;top:290PX;width:113PX;height:12PX;"><span class="fc1-4">Customer Name/Division</span></DIV>
   
   <DIV style="left:44PX;top:290PX;width:85PX;height:12PX;"><span class="fc1-4">Organization Name </span></DIV>
   
   <DIV style="left:417PX;top:253PX;width:331PX;height:14PX;"><span class="fc1-5">CUSTOMER SUBMITTAL INFORMATION</span></DIV>
   
   <DIV style="left:44PX;top:253PX;width:284PX;height:14PX;"><span class="fc1-5">ORGANIZATION MANUFACTURING INFORMATION</span></DIV>
   
   <DIV style="left:44PX;top:307PX;width:351PX;height:14PX;"><span class="fc1-3"><%= pars.or3 %></span></DIV>
   
   <DIV style="left:44PX;top:342PX;width:122PX;height:14PX;"><span class="fc1-3"><%= pars.or4 %></span></DIV>
   
   <DIV style="left:172PX;top:342PX;width:70PX;height:14PX;"><span class="fc1-3"><%= pars.or5 %></span></DIV>
   
   <DIV style="left:243PX;top:342PX;width:61PX;height:14PX;"><span class="fc1-3"><%= pars.or7 %></span></DIV>
   
   <DIV style="left:44PX;top:275PX;width:253PX;height:14PX;"><span class="fc1-3"><%= pars.or2 %></span></DIV>
   
   <DIV style="left:419PX;top:275PX;width:331PX;height:14PX;"><span class="fc1-3"><%= pars.cu3 %></span></DIV>
   
   <DIV style="left:171PX;top:360PX;width:33PX;height:12PX;"><span class="fc1-4">Region</span></DIV>
   
   <DIV style="left:242PX;top:360PX;width:59PX;height:12PX;"><span class="fc1-4">Postal Code</span></DIV>
   
   <DIV style="left:312PX;top:360PX;width:89PX;height:12PX;"><span class="fc1-4">Country</span></DIV>
   
   <DIV style="left:312PX;top:344PX;width:86PX;height:12PX;"><span class="fc1-1">Mexico</span></DIV>
   
   <DIV style="left:294PX;top:290PX;width:118PX;height:15PX;"><span class="fc1-4">Organization / Vendor Code</span></DIV>
   
   <DIV style="left:44PX;top:391PX;width:366PX;height:13PX;"><span class="fc1-1">Has customer-required Substances of Concern information been reported?</span></DIV>
   
   <DIV style="left:44PX;top:447PX;width:376PX;height:13PX;"><span class="fc1-1">Are polymeric parts identified with appropriate ISO marking codes?</span></DIV>
   
   <DIV style="left:447PX;top:391PX;width:24PX;height:12PX;"><span class="fc1-1">Yes</span></DIV>
   
   <DIV style="left:448PX;top:447PX;width:24PX;height:12PX;"><span class="fc1-1">Yes</span></DIV>
   
   <DIV style="left:512PX;top:391PX;width:24PX;height:12PX;"><span class="fc1-1">No</span></DIV>
   
   <DIV style="left:512PX;top:447PX;width:24PX;height:12PX;"><span class="fc1-1">No</span></DIV>
   
   <DIV style="left:431PX;top:390PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa15 %></td></table>
   </DIV>
   
   <DIV style="left:495PX;top:391PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa16 %></td></table>
   </DIV>
   
   <DIV style="left:432PX;top:446PX;width:10PX;height:9PX;" class="ad1-2">
   <table width="5PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa18 %></td></table>
   </DIV>
   
   <DIV style="left:495PX;top:447PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa19 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:375PX;width:284PX;height:14PX;"><span class="fc1-5">MATERIALS REPORTING</span></DIV>
   
   <DIV style="left:584PX;top:391PX;width:24PX;height:12PX;"><span class="fc1-1">n/a</span></DIV>
   
   <DIV style="left:584PX;top:447PX;width:24PX;height:12PX;"><span class="fc1-1">n/a</span></DIV>
   
   <DIV style="left:566PX;top:391PX;width:9PX;height:9PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa60 %></td></table>
   </DIV>
   
   <DIV style="left:566PX;top:448PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa61 %></td></table>
   </DIV>
   
   <DIV style="left:98PX;top:411PX;width:277PX;height:15PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Submitted by IMDS or other customer format: </span></DIV>
   
   <DIV style="left:44PX;top:465PX;width:348PX;height:14PX;"><span class="fc1-5">REASON FOR SUBMISSION (check at least one)</span></DIV>
   
   <DIV style="left:61PX;top:559PX;width:329PX;height:12PX;"><span class="fc1-1">Tooling Inactive > that 1 year</span></DIV>
   
   <DIV style="left:44PX;top:559PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa23 %></td></table>
   </DIV>
   
   <DIV style="left:451PX;top:541PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa27 %></td></table>
   </DIV>
   
   <DIV style="left:451PX;top:522PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa26 %></td></table>
   </DIV>
   
   <DIV style="left:451PX;top:503PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa25 %></td></table>
   </DIV>
   
   <DIV style="left:452PX;top:559PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa28 %></td></table>
   </DIV>
   
   <DIV style="left:451PX;top:484PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa24 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:541PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa22 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:522PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa21 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:503PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa20 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:485PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa19 %></td></table>
   </DIV>
   
   <DIV style="left:61PX;top:484PX;width:96PX;height:12PX;"><span class="fc1-1">Initial Submission</span></DIV>
   
   <DIV style="left:467PX;top:483PX;width:264PX;height:12PX;"><span class="fc1-1">Change to Optional Construction or Material</span></DIV>
   
   <DIV style="left:61PX;top:503PX;width:242PX;height:12PX;"><span class="fc1-1">Engineering Change(s)</span></DIV>
   
   <DIV style="left:467PX;top:502PX;width:264PX;height:12PX;"><span class="fc1-1">Supplier or Material Source Change</span></DIV>
   
   <DIV style="left:61PX;top:522PX;width:328PX;height:12PX;"><span class="fc1-1">Tooling: Transfer, Replacement, Refurbishment, or additional</span></DIV>
   
   <DIV style="left:467PX;top:521PX;width:264PX;height:12PX;"><span class="fc1-1">Change in Part Processing</span></DIV>
   
   <DIV style="left:467PX;top:539PX;width:264PX;height:12PX;"><span class="fc1-1">Parts Produced at Additional Location</span></DIV>
   
   <DIV style="left:61PX;top:540PX;width:160PX;height:12PX;"><span class="fc1-1">Correction of Discrepancy</span></DIV>
   
   <DIV style="left:467PX;top:558PX;width:264PX;height:12PX;"><span class="fc1-1">Other - please specify below</span></DIV>
   
   <DIV style="left:44PX;top:583PX;width:296PX;height:14PX;"><span class="fc1-5">REQUESTED SUBMISSION LEVEL (Check one)</span></DIV>
   
   <DIV style="left:106PX;top:637PX;width:660PX;height:13PX;"><span class="fc1-1">Warrant with product samples and complete supporting data submitted to customer.</span></DIV>
   
   <DIV style="left:107PX;top:618PX;width:653PX;height:12PX;"><span class="fc1-1">Warrant with product samples and limited supporting data submitted to customer.</span></DIV>
   
   <DIV style="left:61PX;top:620PX;width:44PX;height:12PX;"><span class="fc1-1">Level 2 - </span></DIV>
   
   <DIV style="left:61PX;top:639PX;width:44PX;height:12PX;"><span class="fc1-1">Level 3 -</span></DIV>
   
   <DIV style="left:106PX;top:601PX;width:658PX;height:12PX;"><span class="fc1-1">Warrant only (and for designated appearance items, an Appearance Approval Report) submitted to customer.</span></DIV>
   
   <DIV style="left:61PX;top:603PX;width:44PX;height:12PX;"><span class="fc1-1">Level 1 - </span></DIV>
   
   <DIV style="left:61PX;top:657PX;width:44PX;height:12PX;"><span class="fc1-1">Level 4 - </span></DIV>
   
   <DIV style="left:106PX;top:655PX;width:561PX;height:12PX;"><span class="fc1-1">Warrant and other requirements as defined by customer.</span></DIV>
   
   <DIV style="left:61PX;top:673PX;width:44PX;height:12PX;"><span class="fc1-1">Level 5 - </span></DIV>
   
   <DIV style="left:106PX;top:670PX;width:601PX;height:13PX;"><span class="fc1-1">Warrant with product samples and complete supporting data reviewed at organization's manufacturing location.</span></DIV>
   
   <DIV style="left:44PX;top:673PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa29 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:657PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa30 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:640PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa31 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:621PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa32 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:604PX;width:8PX;height:8PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa33 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:693PX;width:208PX;height:14PX;"><span class="fc1-5">SUBMISSION RESULTS</span></DIV>
   
   <DIV style="left:405PX;top:730PX;width:178PX;height:12PX;"><span class="fc1-1">(If "NO" - Explanation Required)</span></DIV>
   
   <DIV style="left:369PX;top:730PX;width:27PX;height:12PX;"><span class="fc1-1">NO</span></DIV>
   
   <DIV style="left:314PX;top:730PX;width:23PX;height:12PX;"><span class="fc1-1">Yes</span></DIV>
   
   <DIV style="left:44PX;top:729PX;width:248PX;height:12PX;"><span class="fc1-1">These results meet all design record requirements</span></DIV>
   
   <DIV style="left:617PX;top:711PX;width:134PX;height:12PX;"><span class="fc1-1">statistical process package </span></DIV>
   
   <DIV style="left:483PX;top:711PX;width:109PX;height:12PX;"><span class="fc1-1">appearance criteria</span></DIV>
   
   <DIV style="left:308PX;top:711PX;width:143PX;height:12PX;"><span class="fc1-1">material and functional tests</span></DIV>
   
   <DIV style="left:142PX;top:711PX;width:137PX;height:12PX;"><span class="fc1-1">dimensional measurements</span></DIV>
   
   <DIV style="left:44PX;top:711PX;width:88PX;height:12PX;"><span class="fc1-1">The results for</span></DIV>
   
   <DIV style="left:124PX;top:713PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa34 %></td></table>
   </DIV>
   
   <DIV style="left:294PX;top:713PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa35 %></td></table>
   </DIV>
   
   <DIV style="left:468PX;top:713PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa36 %></td></table>
   </DIV>
   
   <DIV style="left:300PX;top:730PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa38 %></td></table>
   </DIV>
   
   <DIV style="left:356PX;top:730PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa39 %></td></table>
   </DIV>
   
   <DIV style="left:602PX;top:713PX;width:7PX;height:9PX;" class="ad1-2">
   <table width="2PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-2"><%= pars.pa37 %></td></table>
   </DIV>
   
   <DIV style="left:44PX;top:746PX;width:169PX;height:12PX;"><span class="fc1-1">Mold / Cavity/ Production Process</span></DIV>
   
   <DIV style="left:216PX;top:745PX;width:544PX;height:14PX;"><span class="fc1-3"><%= pars.pa40 %>, <%= pars.pa41 %> cavities&nbsp;&nbsp;<%= pars.pa42 %></span></DIV>
   
   <DIV style="left:342PX;top:854PX;width:24PX;height:12PX;"><span class="fc1-1">Yes</span></DIV>
   
   <DIV style="left:405PX;top:854PX;width:24PX;height:12PX;"><span class="fc1-1">No</span></DIV>
   
   <DIV style="left:473PX;top:855PX;width:24PX;height:12PX;"><span class="fc1-1">n/a</span></DIV>
   
   <DIV style="left:44PX;top:854PX;width:272PX;height:12PX;"><span class="fc1-1">Is each Customer Tool Properly tagged and numbered?</span></DIV>
   
   <DIV style="left:44PX;top:823PX;width:131PX;height:12PX;"><span class="fc1-4">EXPLANATION/COMMENTS:</span></DIV>

   <DIV style="left:176PX;top:820PX;width:584PX;height:14PX;"><span class="fc1-3"><%= pars.pa44 %></span></DIV>
   
   <DIV style="left:44PX;top:781PX;width:724PX;height:42PX;">
   <table width="719PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-1">I affirm that the samples represented by this warrant are representative of our parts, which were made by a process that meets all Production Part </td></tr>
   <tr><td class="fc1-1">Approval Process Manual 4th Edition requirements. I further affirm that these samples were produced at the production rate of<span class="fc1-2"> </span><span class="fc1-6"><%= pars.pa43 %></span><span class="fc1-4"> / </span><span class="fc1-6"><%= pars.pa51 %></span><span class="fc1-4"> </span>hours. I also </td></tr>
   <tr><td class="fc1-1">certify that documented evidence of such compliance is on file and available for review. I have noted any deviations from this declaration below.&nbsp;</td></tr></table>
   </DIV>
   
   <DIV style="left:44PX;top:767PX;width:120PX;height:14PX;"><span class="fc1-5">DECLARATION</span></DIV>
   
   <DIV style="left:455PX;top:856PX;width:9PX;height:11PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa50 %></td></table>
   </DIV>
   
   <DIV style="left:387PX;top:856PX;width:9PX;height:11PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa51 %></td></table>
   </DIV>
   
   <DIV style="left:324PX;top:856PX;width:9PX;height:11PX;" class="ad1-2">
   <table width="4PX" border=0 cellpadding=0 cellspacing=0><td ALIGN="CENTER" class="fc1-4"><%= pars.pa52 %></td></table>
   </DIV>
   
   <DIV style="left:81PX;top:920PX;width:142PX;height:27PX;">
    <table width="137PX" border=0 cellpadding=0 cellspacing=0>
    <tr><td class="fc1-3"><%= pars.pa54 %></td></tr>
    <tr><td class="fc1-3"></td></tr></table>
    </DIV>
    
    <DIV style="left:110PX;top:898PX;width:199PX;height:14PX;"><span class="fc1-3"><%= pars.pa52 %></span></DIV>
    

   <DIV style="left:44PX;top:877PX;width:172PX;height:12PX;"><span class="fc1-1">Organization Authorized Signature</span></DIV>
   
   <DIV style="left:610PX;top:879PX;width:24PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Date</span></DIV>

   <DIV style="left:642PX;top:876PX;width:110PX;height:14PX;"><span class="fc1-3"><%= pars.pa53 %></span></DIV>

<DIV style="left:642PX;top:898PX;width:110PX;height:14PX;"><span class="fc1-3"><%= pars.pa57 %></span></DIV>

<DIV style="left:451PX;top:898PX;width:82PX;height:14PX;"><span class="fc1-3"><%= pars.pa56 %></span></DIV>
   
   <DIV style="left:45PX;top:921PX;width:32PX;height:12PX;"><span class="fc1-1">Title</span></DIV>
   
   <DIV style="left:44PX;top:899PX;width:63PX;height:12PX;"><span class="fc1-1">Print Name</span></DIV>
   
   <DIV style="left:396PX;top:899PX;width:55PX;height:22PX;"><span class="fc1-1">Phone No.</span></DIV>
   
   <DIV style="left:614PX;top:901PX;width:20PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Fax</span></DIV>
   
   <DIV style="left:350PX;top:922PX;width:41PX;height:12PX;"><span class="fc1-1">E-mail</span></DIV>

   <DIV style="left:398PX;top:920PX;width:362PX;height:15PX;"><span class="fc1-1"><%= pars.pa58 %></span></DIV>
   
   <DIV style="left:607PX;top:991PX;width:27PX;height:12PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Date</span></DIV>
   
   <DIV style="left:44PX;top:991PX;width:101PX;height:12PX;"><span class="fc1-1">Customer Signature</span></DIV>
   
   <DIV style="left:44PX;top:1009PX;width:73PX;height:12PX;"><span class="fc1-1">Print Name</span></DIV>
   
   <DIV style="left:37PX;top:945PX;width:728PX;height:14PX;TEXT-ALIGN:CENTER;"><span class="fc1-5">FOR CUSTOMER USE ONLY (IF APPLICABLE)</span></DIV>
   
   <DIV style="left:407PX;top:968PX;width:32PX;height:12PX;"><span class="fc1-1">Other</span></DIV>
   
   <DIV style="left:389PX;top:968PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-2"> </td></table>
   </DIV>
   
   <DIV style="left:324PX;top:968PX;width:52PX;height:12PX;"><span class="fc1-1">Rejected</span></DIV>
   
   <DIV style="left:239PX;top:968PX;width:56PX;height:12PX;"><span class="fc1-1">Approved</span></DIV>
   
   <DIV style="left:44PX;top:968PX;width:157PX;height:12PX;"><span class="fc1-1">PPAP Warrant Disposition:</span></DIV>
   
   <DIV style="left:308PX;top:968PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-2"> </td></table>
   </DIV>
   
   <DIV style="left:222PX;top:968PX;width:8PX;height:9PX;" class="ad1-2">
   <table width="3PX" border=0 cellpadding=0 cellspacing=0><td class="fc1-2"> </td></table>
   </DIV>
   
   <DIV style="left:441PX;top:1011PX;width:183PX;height:12PX;"><span class="fc1-1">Customer Tracking Number (optional)</span></DIV>
   
   <DIV style="left:35PX;top:1032PX;width:26PX;height:19PX;TEXT-ALIGN:CENTER;">
   <table width="21PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-7">March </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-7">2006</td></tr></table>
   </DIV>
   
   <DIV style="left:80PX;top:1032PX;width:136PX;height:17PX;"><span class="fc1-8">CFG-1001</span></DIV>
   <BR>
   </BODY></HTML>
   